* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --blackColor: #000000;
  --whiteColor: #ffffff;
  --redColor: #d10303;
  --grayColor: #424242;
}

body {
  background-color: var(--blackColor);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f0252;
  border: 2px solid #2b0028;
  color: #fff;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.conteiner {
  width: 80%;
  max-width: 900px;
  background-color: #700574;
  padding: 30px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#box div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-top: 20px;
}

#box {
  width: 100%;
}

#addTask {
  color: #fff;
  text-align: center;
  font-size: 30px;
}

#box input {
  width: 100%;
  padding: 10px 8px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  outline: none;
}

#box button {
  width: 28%;
  background-color: #2e8605;
  color: var(--whiteColor);
  padding: 11px 8px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.9s ease;
}

#box button:hover {
  scale: 1.05;
  background-color: #0fb609;
}

#taskList {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 8px;
  color: #fff;
  font-size: 30px;
}

.h2Element {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

#box ul {
  display: flex;
  flex-direction: column;
}

.liElement a {
  text-decoration: none;
  background-color: var(--redColor);
  color: var(--whiteColor);
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 10px;
  transition: 0.9s;
}

.liElement a:hover {
  scale: 1.1;
  background-color: #ee4b4b;
}

.liElement {
  width: 100%;
  background-color: #09d346;
  color: var(--blackColor);
  padding: 8px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4f0252;
  border: 2px solid #2b0028;
  gap: 5px;
}

footer p {
  color: #fff;
}

footer a {
  color: #0054d3;
  text-decoration: none;
  transition: all 0.9s;
}
footer a:hover {
  color: #2d7df5;
}
